/* line 5, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/main/_base.scss */
body {
  font: 12px/150% Arial,Verdana,"\5b8b\4f53";
  color: #666;
}

/* line 6, ../sass/main/_base.scss */
a {
  color: #333;
  text-decoration: none;
}
/* line 10, ../sass/main/_base.scss */
a:hover {
  color: #077ac2;
}

/* line 15, ../sass/main/_base.scss */
h1 {
  font-size: 18px;
}

/* line 1, ../sass/main/_layout.scss */
.full {
  width: 100%;
}

/* line 5, ../sass/main/_layout.scss */
.w {
  margin: 0 auto;
  width: 1000px;
}

/* line 10, ../sass/main/_layout.scss */
.fl {
  float: left;
}

/* line 14, ../sass/main/_layout.scss */
.fr {
  float: right;
}

/* line 18, ../sass/main/_layout.scss */
.clear {
  display: block;
  overflow: hidden;
  clear: both;
  height: 0;
  line-height: 0;
  font-size: 0;
}

/* line 27, ../sass/main/_layout.scss */
.top {
  height: 30px;
  line-height: 30px;
  background-color: #F1F1F1;
}
/* line 32, ../sass/main/_layout.scss */
.top li {
  float: left;
  height: 30px;
}
/* line 36, ../sass/main/_layout.scss */
.top li a {
  display: inline-block;
  padding: 0 6px;
}

/* line 43, ../sass/main/_layout.scss */
.header {
  padding: 12px 0;
}
/* line 47, ../sass/main/_layout.scss */
.header .logo img {
  display: block;
}

/* line 53, ../sass/main/_layout.scss */
.menu {
  height: 40px;
  background-color: #1fa3f7;
  line-height: 40px;
  margin-bottom: 20px;
}
/* line 59, ../sass/main/_layout.scss */
.menu li {
  float: left;
  height: 40px;
}
/* line 63, ../sass/main/_layout.scss */
.menu li a {
  display: inline-block;
  padding: 0 15px;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
}
/* line 70, ../sass/main/_layout.scss */
.menu li a:hover {
  text-decoration: underline;
}

/* line 77, ../sass/main/_layout.scss */
.footer {
  height: 30px;
  line-height: 30px;
  margin-top: 20px;
  border-top: 1px solid #E5E5E5;
}
/* line 83, ../sass/main/_layout.scss */
.footer .copyright {
  color: #999;
}
/* line 87, ../sass/main/_layout.scss */
.footer li {
  float: left;
  height: 30px;
}
/* line 91, ../sass/main/_layout.scss */
.footer li a {
  display: inline-block;
  padding: 0 6px;
}

/* line 1, ../sass/main/ui/_form.scss */
form {
  font-size: 14px;
}
/* line 4, ../sass/main/ui/_form.scss */
form .row {
  margin-bottom: 15px;
}
/* line 7, ../sass/main/ui/_form.scss */
form .row .error {
  margin-left: 10px;
  color: #e82929;
}

/* line 14, ../sass/main/ui/_form.scss */
label {
  display: inline-block;
  margin-right: 15px;
  text-align: right;
}

/* line 20, ../sass/main/ui/_form.scss */
input {
  border: 1px solid #CCC;
  padding: 7px;
  border-radius: 3px;
  font-size: 14px;
}
/* line 26, ../sass/main/ui/_form.scss */
input:focus {
  border: 1px solid #AAA;
  outline: 0;
}

/* line 32, ../sass/main/ui/_form.scss */
input[type="submit"] {
  cursor: pointer;
  color: #fff;
  border: 1px solid #0889db;
  background-color: #1fa3f7;
  padding: 7px 20px;
}

/* line 2, ../sass/main/_register.scss */
.register h1, .login h1 {
  margin-bottom: 20px;
}
/* line 5, ../sass/main/_register.scss */
.register h1 span, .login h1 span {
  font-size: 12px;
}
/* line 11, ../sass/main/_register.scss */
.register form label, .login form label {
  width: 60px;
}
/* line 16, ../sass/main/_register.scss */
.register input[type="email"],
.register input[type="text"],
.register input[type="password"], .login input[type="email"],
.login input[type="text"],
.login input[type="password"] {
  width: 200px;
}
/* line 22, ../sass/main/_register.scss */
.register input[type="submit"], .login input[type="submit"] {
  cursor: pointer;
  color: #fff;
  border: 1px solid #0889db;
  background-color: #1fa3f7;
  padding: 7px 20px;
}
