form {
  font-size: 14px;

  .row {
    margin-bottom: 15px;

    .error {
      margin-left: 10px;
      color: $red-color;
    }
  }
}

label {
  display: inline-block;
  margin-right: 15px;
  text-align: right;
}

input {
  border: 1px solid $input-border-color;
  padding: 7px;
  border-radius: $input-border-radius;
  font-size: 14px;

  &:focus {
    border: 1px solid $input-focus-border-color;
    outline: 0;
  }
}

input[type="submit"] {
  cursor: pointer;
  color: $button-color;
  border: 1px solid $button-border-color;
  background-color: $button-background-color;
  padding: 7px 20px;
}