<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="icon" type="image/png" href="{{ STATIC_URL }}images/favicon.png">
  <title>{% block title %}{% endblock %} - {% block branding %}夜读人{% endblock %}</title>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
  {% block extra_links %}{% endblock %}
  {% block extra_scripts %}{% endblock %}
</head>
<body>
  <div class="full top">
    <div class="w">
      <div class="fl">我们是一群爱读书的人</div>
      <ul class="fr">
        {% if request.user.is_authenticated %}
          <li>{{ request.user.username }}</li>
          <li><a href="{% url 'users:logout' %}">退出</a></li>
        {% else %}
          <li><a href="{% url 'users:login' %}">请登录</a></li>
          <li><a href="{% url 'users:register' %}">加入我们</a></li>
        {% endif %}
      </ul>
      <span class="clear"></span>
    </div>
  </div>
  <div class="header w">
    <div class="logo fl"><a href="/"><img src="{{ STATIC_URL }}images/logo.png" title="夜读人"></a></div>
    <span class="clear"></span>
  </div>
  <div class="menu">
    <div class="w">
      <ul>
        <li><a href="#">首页</a></li>
        <li><a href="#">新书</a></li>
        <li><a href="#">书单</a></li>
        <li><a href="#">促销</a></li>
        <li><a href="#">书友会</a></li>
      </ul>
    </div>
    <span class="clear"></span>
  </div>
  <div class="main-content">
    <div class="w">
    {% block main %}{% endblock %}
    </div>
  </div>
  <div class="full footer">
    <div class="w">
      <span class="copyright fl"> &copy; 2015 yeduren.com, all rights reserved</span>
      <ul class="fr">
        <li><a href="#">关于我们</a></li>
        <li><a href="#">联系我们</a></li>
      </ul>
      <span class="clear"></span>
    </div>
  </div>
</body>
</html>