body {
  font: 12px/150% Arial,Verdana,"\5b8b\4f53";
  color: $font-color;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $link-hover-color;
  }
}

h1 {
  font-size: 18px;
}