.full {
  width: $width-full;
}

.w {
  margin:0 auto;
  width: $width-base;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clear {
  display: block;
  overflow: hidden;
  clear: both;
  height: 0;
  line-height: 0;
  font-size: 0;
}

.top {
  height: 30px;
  line-height: 30px;
  background-color: $top-background-color;

  li {
    float: left;
    height: 30px;

    a {
      display: inline-block;
      padding: 0 6px;
    }
  }
}

.header {
  padding: 12px 0;

  .logo {
    img {
      display: block;
    }
  }
}

.menu {
  height: 40px;
  background-color: $menu-background-color;
  line-height: 40px;
  margin-bottom: 20px;

  li {
    float: left;
    height: 40px;

    a {
      display: inline-block;
      padding: 0 15px;
      color: #fff;
      font-size: 15px;
      font-weight: 400;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.footer {
  height: 30px;
  line-height: 30px;
  margin-top: 20px;
  border-top: 1px solid $footer-border-color;

  .copyright {
    color: $footer-copyright-color;
  }

  li {
    float: left;
    height: 30px;

    a {
      display: inline-block;
      padding: 0 6px;
    }
  }
}