.register, .login {
  h1 {
    margin-bottom: 20px;

    span {
      font-size: 12px;
    }
  }

  form {
    label {
      width: 60px;
    }
  }

  input[type="email"],
  input[type="text"],
  input[type="password"] {
    width: 200px;
  }

  input[type="submit"] {
    cursor: pointer;
    color: $button-color;
    border: 1px solid $button-border-color;
    background-color: $button-background-color;
    padding: 7px 20px;
  }
}