// 颜色
$blue-color: #0889db;
$blue-dark-color: darken($blue-color, 10%);
$blue-light-color: lighten($blue-color, 10%);

$red-color: #e82929;

$font-color: #666; // 文字颜色
$link-color: #333; // 链接颜色
$link-hover-color: darken($blue-color, 5%);

// 宽度
$width-full: 100%;
$width-base: 1000px;

// top
$top-background-color: #F1F1F1;

// footer
$footer-border-color: #E5E5E5;
$footer-copyright-color: #999;

// menu
$menu-background-color: $blue-light-color;

// ui

// input
$input-border-color: #CCC;
$input-focus-border-color: #AAA;
$input-border-radius: 3px;

// button
$button-color: #fff;
$button-background-color: $blue-light-color;
$button-border-color: darken($button-background-color, 10%);
